.custom-navbar {
  background-color: #212121;
}

.navbar-brand,
.nav-link,
.btn {
  color: #07ffb5;
  font-size: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-danger {

  color: white;
}

.navbar-nav.ml-auto {
  margin-right: 40px;
}



/* app.component.css */
:host {
  display: block;
  background-color: #333333;
  height: 100vh;
  width: 100%;
}
