<div class="container">
  <div class="sidebar-container">
    <button class="add-group-button" (click)="addGroup()">Add Group</button>

    <ul class="group-list">
      <li class="group-list-item" *ngFor="let group of chatGroups">
        <span class="group-name" (click)="selectGroup(group.id)">{{ group.name }}</span>
        <button class="delete-button" (click)="deleteGroup(group.id)">Delete</button>
      </li>
    </ul>
  </div>
  <div class="chat-window-container">
    <h2 class="chat-header" *ngIf="selectedGroup">{{ selectedGroup.name }}</h2>
    <div class="messages-container">
      <div class="message" *ngFor="let message of selectedGroup?.messages">
        {{ message.content }}
      </div>
    </div>
    <div class="input-area-container">
      <input class="message-input" [(ngModel)]="newMessage" placeholder="Type a message...">
      <button class="send-button" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
