.container {
  margin-top: 50px;
  position: relative;
  height: 700px;
}

.chat-box {
  height: 650px;
  overflow-y: scroll;
  border: 1px solid #E8ECE5;
  background-color: #E8ECE5;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 0;

}

.input-group {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.list-group-item {
  border-radius: 12px;
  margin-bottom: 5px;
  background-color: #E8ECE5;
}

.list-group-item:last-child {
  background-color: #0099ff;
  color: white;
}
