/* Container */
.container {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Sidebar Container */
.sidebar-container {
  width: 30%;
  background-color: #f6f6f6;
  padding: 20px;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
}

/* Add Group Button */
.add-group-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 24px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
}

/* Group List */
.group-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Group List Item */
.group-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 10px 0;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Group Name */
.group-name {
  font-size: 25px;
}

/* Delete Button */
.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
}

/* Chat Window Container */
.chat-window-container {
  width: 60%;
  padding: 20px;
  margin: 0;
}

/* Chat Header */
.chat-header {
  margin-bottom: 24px;
  font-size: 24px;
}

/* Messages Container */
.messages-container {
  height: 70vh;
  overflow-y: auto;
  border: 1px solid #e1e1e1;
  padding: 20px;
  border-radius: 6px;
  background-color: #f9f9f9;
}

/* Message */
.message {
  margin-bottom: 12px;
  font-size: large;
  margin-right: 100px;
}

/* Input Area Container */
.input-area-container {
  margin-top: 24px;
}

/* Message Input */
.message-input {
  width: 80%;
  padding: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}

/* Send Button */
.send-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
}
